@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
a:link, a:active, a:visited { color: #0000ff; }
a:hover {color: #FFC0CB; }
.time, .name { font-size: 1.3em; }
div { word-break: break-word; }
.Sunday,.Monday,.Tuesday,.Wednesday,.Thursday,.Friday,.Saturday { display: none; }
.Sunday.nohide, .Monday.nohide, .Tuesday.nohide, .Wednesday.nohide, .Thursday.nohide, .Friday.nohide, .Saturday.nohide { display: block!important; }
h1 {
    text-transform: uppercase;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
ul { list-style-type: none; margin: 0px!important; padding: 0px!important;}
.Rtable:nth-child(odd) div, .Rtable:nth-child(odd) {
    background-color: #f8f8f8;
}
.navblock { background-color: #ffffff; border: 2px solid #000000; margin: 0 0 0 auto; width: fit-content; border-radius: 3px; }
.details { outline: #ffffff; border: 2px solid #000000; padding: 0px; margin: 2px 2px; }
.daynav>div>li { display: inline-block; padding: 3px 2px; }
@media screen AND (min-width: 530px){
i { font-size: 3em; margin-right: 12px; }
.hybrid-rt { float: right; }
.daynav { text-align: center; }
.Rtable {
		display: flex!important;
		flex-wrap: wrap;
		margin: 0 0 0 0;
		padding: 0;
	}
	#navbars { text-align:center;  }
	.navbar select { display: none; }
	section { padding: 15px 15px 35px 15px; }
	.footer >div >ul { display: flex; list-style-type: none; align-items: center;   flex-direction: row; justify-content: center;   }
	.Rtable-cell {
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;  
	padding: 0.2em .4em;
	overflow: hidden;
	list-style: none;
	border: 1px solid  white;
	background: fade(slategrey,20%);
	}
	.Rtable-cell2 {
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;  
	padding: 0.2em .4em;
	overflow: hidden; 
	list-style: none;
	border: 1px solid  white;
	background: fade(slategrey,20%);
	}
 .hideOnDesktop { display: none; }
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }
.Rtable--6cols > .Rtable-cell2  { width: 33.2%!important; }
}
@media screen AND (max-width: 530px) {
.hybrid-float { float: reset; }
.attendance_mode { width: min-content; }
i { font-size: 4em; margin-right: 12px; }
.daynav { text-align: right; }
.details { text-align: left; }
.main>li>div { padding-left: 12px!important; }
 .hideOnDesktop { display: block; }
 h2 { padding: 12px 0px!important;
 .fixed-top { padding-top: 0px; }
                .Rtable {
                    display: block;
                    border: 2px solid #000;
                    border-radius: 4px;
                    margin: 5px;
                }

                .Rtable-cell {
                    text-align: center;
                }
}
